In [1]:
! pip install pyoccur

Collecting pyoccur
  Downloading pyoccur-0.1.0-py3-none-any.whl (2.0 kB)
Installing collected packages: pyoccur
Successfully installed pyoccur-0.1.0

In [17]:
from pyoccur import pyoccur

In [13]:
first_list = ['abc',123,'def','abc',22,10]

In [21]:
second_list = [{'abc':100},'wee',123,{'abc':100},'abc',123,{'a':1,'b':2},'abc']

Detect Duplicates in Python List - Simple

In [18]:
pyoccur.has_dup(first_list)

True

Get the Duplicates

In [19]:
pyoccur.get_dup(first_list)

['abc']

In [22]:
pyoccur.get_dup(second_list)

[{'abc': 100}, 123, 'abc']

In [24]:
second_list_dedup = pyoccur.remove_dup(second_list)

In [26]:
second_list

[{'abc': 100}, 'wee', 123, {'abc': 100}, 'abc', 123, {'a': 1, 'b': 2}, 'abc']

In [25]:
second_list_dedup

[{'abc': 100}, 'wee', 123, 'abc', {'a': 1, 'b': 2}]

In [31]:
# https://stackoverflow.com/questions/55735009/removing-duplicate-dataframes-in-a-list

import pandas as pd
import numpy as np
##Creating Dataframes
data1_1 =[[1,2018,80], [2,2018,70]]

data1_2 =  [[1,2017,77], [3,2017,62]]


df1 = pd.DataFrame(data1_1, columns = ['ID', 'Year', 'Score'])
df2 = pd.DataFrame(data1_2, columns = ['ID', 'Year', 'Score'])


###Creating list with duplicates
all_df_list = [df1,df1,df1,df2]

In [32]:
all_df_list

[   ID  Year  Score
 0   1  2018     80
 1   2  2018     70,    ID  Year  Score
 0   1  2018     80
 1   2  2018     70,    ID  Year  Score
 0   1  2018     80
 1   2  2018     70,    ID  Year  Score
 0   1  2017     77
 1   3  2017     62]

In [33]:
pyoccur.has_dup(all_df_list)

True

In [34]:
pyoccur.get_dup(all_df_list)

[   ID  Year  Score
 0   1  2018     80
 1   2  2018     70]

In [35]:
pyoccur.remove_dup(all_df_list)

[   ID  Year  Score
 0   1  2018     80
 1   2  2018     70,    ID  Year  Score
 0   1  2017     77
 1   3  2017     62]