In [10]:
import pandas as pd

In [12]:
india_states = pd.read_html("https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population")

In [15]:
india_states[0].dtypes

Rank                             object
State or union territory         object
Population (1951 Census)[11]    float64
Population (1961 Census)[11]    float64
Population (1971 Census)[11]    float64
Population (1981 Census)[11]    float64
Population (1991 Census)[11]    float64
Population (2001 Census)[11]    float64
Population (2011 Census)[11]      int64
dtype: object

In [21]:
world_pop = pd.read_html("https://en.wikipedia.org/wiki/World_population")

In [22]:
len(world_pop)

26

In [24]:
world_pop[1]

        World population (millions, UN estimates)[15]  ...
                                                    #  ...                                            2030[A]
0                                                   1  ...                                               1416
1                                                   2  ...                                               1528
2                                                   3  ...                                                356
3                                                   4  ...                                                295
4                                                   5  ...                                                245
5                                                   6  ...                                                228
6                                                   7  ...                                                263
7                                                   8  ...                                                186
8                                                   9  ...                                                149
9                                                  10  ...                                                148
10                                                NaN  ...                                               8501
11  Notes: ^ 2030 = Medium variant. ^ China exclud...  ...  Notes: ^ 2030 = Medium variant. ^ China exclud...

[12 rows x 5 columns]